@tailwind base;
@tailwind components;
@tailwind utilities;


/* Remove spinner controls from number inputs globally */
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
} */